NUXT_PUBLIC_API_BASE_URL=http://127.0.0.1:8000/api/v1
NUXT_PUBLIC_EVENT_SLUG=iwbif-2026
NUXT_PUBLIC_SITE_URL=http://localhost:3000
NUXT_PUBLIC_APP_NAME=IWBIF 2026

# Production:
# NUXT_PUBLIC_API_BASE_URL=https://api.iwbif.id/api/v1
# NUXT_PUBLIC_SITE_URL=https://iwbif.id
