NUXT_PUBLIC_API_BASE_URL=http://localhost:8000/api/v1
NUXT_PUBLIC_SITE_URL=http://localhost:3000
NUXT_PUBLIC_APP_NAME=ASEAN AI for Education Summit
NUXT_PUBLIC_MIDTRANS_CLIENT_KEY=
NUXT_PUBLIC_MIDTRANS_SNAP_URL=https://app.sandbox.midtrans.com/snap/snap.js

# Production:
# NUXT_PUBLIC_API_BASE_URL=https://api-event.gagakrimang.web.id/api/v1
# NUXT_PUBLIC_SITE_URL=https://event.gagakrimang.web.id
